

.box{
    border: 1px solid black;
    border-radius: 1rem ;
    justify-content: center;
    background-color: aquamarine;
    width: 20%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.button{
background-color:red;
color: white;
border-radius: 2rem;
border-color:black solid ;
display:flex;
margin-left: 32px;
padding: .2rem;
align-self: flex-end;
}

.button:hover{
color:red;
background-color: white;
box-shadow: 0 0 1rem red,0 0 4 rem red, 0 0 4 rem red;
}

